.nav{
    position: absolute;
    width: 550px;
    height: 55px;
    left: 0px;
    top: 0px;
    background: #F55A5A;

    .fa--nav{
        position: absolute;
        width: 24px;
        height: 24px;
        left: calc(50% - 24px/2 - 50px);
        top: calc(50% - 24px/2 - 324px);
            
        background: #DADADA;
    }

    .head{
        position: absolute;
        width: 109px;
        height: 16px;
        left: 244px;
        top: 8px;  
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 14.4608px;
        line-height: 18px;
        letter-spacing: -0.075em;
        color: #FFFFFF;
        margin-bottom: 30px;
    }
}